*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#2563eb;
    color:white;
    padding:20px 50px;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

section{
    text-align:center;
    padding:100px 20px;
}

button{
    margin-top:20px;
    padding:12px 25px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
.features{
    padding:70px 20px;
    text-align:center;
}

.feature-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin-top:30px;
}

.card{
    width:220px;
    padding:20px;
    background:#f4f4f4;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
}


.benefits{
    background:#2563eb;
    color:white;
    padding:70px 20px;
    text-align:center;
}

.benefit-box{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin-top:30px;
}

.benefit-box div{
    width:250px;
    background:white;
    color:black;
    padding:20px;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
}